<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/logo.jpg" alt="" class="src" />
          </div>
          <h1 class="text-center">Register Here!!</h1>

          <!-- {{user| json}}  -->

          <form (ngSubmit)="formSubmit()">
            <!-- username field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                required
                [(ngModel)]="user.username"
                name="username"
                matInput
                placeholder="Enter your username"
              />
              <mat-hint>Username should be unique!!!</mat-hint>
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                [(ngModel)]="user.password"
                required
                name="password"
                type="password"
                matInput
                placeholder="Enter your password"
              />
            </mat-form-field>

            <!-- Firstname field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input
                required
                [(ngModel)]="user.firstName"
                name="firstName"
                matInput
                placeholder="Enter your first name"
              />
            </mat-form-field>

            <!-- Lastname field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input
                required
                [(ngModel)]="user.lastName"
                name="lastName"
                matInput
                placeholder="Enter your last name"
              />
            </mat-form-field>

            <!-- Email field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                required
                [(ngModel)]="user.email"
                name="email"
                type="email"
                matInput
                placeholder="Enter your email"
              />
            </mat-form-field>

            <!-- Phone field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Phone</mat-label>
              <input
                required
                [(ngModel)]="user.phone"
                name="phone"
                type="number"
                matInput
                placeholder="Enter your phone number"
              />
            </mat-form-field>

            <div class="container text-center">
              <button type="submit" mat-raised-button color="primary">
                Register
              </button>
              <button
                style="margin-left: 20px"
                mat-raised-button
                color="accent"
                type="reset"
              >
                Clear
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
